html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.control-panel {
    display: flex;
    flex-direction: column;
    width: 400px; 
}

.track-list {
    list-style: none;
    background: rgba(232, 232, 232, 0.65);
    padding-left: 0;
    min-height: 200px;
    flex: 1 1 auto;
    margin: 0;
    overflow: auto;
}

.track {
    padding: 8px 10px 0 10px;
    box-sizing: border-box;
}

.track::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(208, 208, 208);
    margin-top: 10px;
}

.track:last-child:after {
    visibility: hidden;
}

.track:focus {
    outline: 1px dotted black;
}

.video-container {
    /*margin: auto;*/
}

.url-input {
    height: 20px;
    flex: 1 1 auto;
    margin: 0;
}

.track-add-controls {
    display: flex;
    flex: 0 0 auto;
}

.add-video-btn {
    margin: 0;
    background: rgb(235, 45, 22);
    border: none;
    color: white
}

.toolbar {
    padding: 10px 5px 10px 5px;
    display: flex;
}

.track.selected {
    background: rgba(179, 198, 255, 0.56);
}

.controls {
    background: gold;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    position: relative;
}

.user-badge {
    font-size: smaller;
    color: darkgray;
    margin-top: 4px;
}

.user-info {
    margin-left: auto;
}

.video-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
}

.user-name {
    font-weight: bold;
}

.player-button {
    border: none;
    width: 20px;
    height: 18px;
    font-size: 0;
    margin: 0 5px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.player-button:active {
    transform: scale(0.8);
}

.btn-play {
    background-image: url("icons/play.svg");
}

.btn-forward {
    background-image: url("icons/forward.svg");
}

.btn-backward {
    background-image: url("icons/backward.svg");
}

.btn-pause {
    background-image: url("icons/pause.svg");
}

.playlist-title {
    font-size: 18px;
    padding: 5px 5px 0 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.main-area {
    display: flex;
    flex-direction: column;
}

.chat {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.chat-form {
    display: flex;
}

.message-input {
    flex: 1 1 auto;
    height: 20px;
    margin: 0;
}

.chat-messages {
    flex: 1 1 auto;
    background: rgba(229, 242, 255, 0.46);
    padding: 5px;
    font-size: 12px;
}

.chat-user-name {
    font-weight: bold;
}

.chat-user-name::after {
    content: ":";
}

.app-header {
    background: orange;
    position: relative;
}

.app-content {
    flex: 1 1 auto;
    display: flex;
}

.search {
    padding: 5px;
    width: 500px;
}

.search-form {
    display: flex;
}

.search-results {
    display: none;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    max-height: calc(100vh - 30px);
    overflow: auto;
    background: white;
    padding: 0;
    width: 500px;
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.31)
}

.search-results.is-open {
    display: block;
}

.search-result {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.search-result:hover {
    background: rgba(255, 182, 0, 0.26);
}

.search-result:hover .add-to-playlist {
    visibility: visible;
}

.track-info {
    font-size: 14px;
}

.track-thumbnail {
    width: 90px;
    margin-right: 10px;
}

.search-input {
    flex: 0 0 395px;
    height: 20px;
    margin: 0;
    background: rgb(255, 209, 124);
    border: none;
}

.search-input:focus {
    background: white;
}

.add-to-playlist {
    margin-left: auto;
    visibility: hidden;
}

.app-header-inner {
    width: 1000px;
    position: relative;
    display: flex;
    align-items: center;
}