html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.control-panel {
    display: flex;
    flex-direction: column;
    margin-right: 40px; 
}

.track-list {
    list-style: none;
    background: rgb(232, 232, 232);
    padding-left: 0;
    width: 400px;
    min-height: 200px;
    flex: 1 1 auto;
    margin: 0;
    overflow: auto;
}

.track {
    padding: 8px 10px;
    border-bottom: 1px solid rgb(208, 208, 208);
    box-sizing: border-box;
}

.track:focus {
    outline: 1px dotted black;
}

.video-container {
    margin: auto;
}

.url-input {
    height: 20px;
    flex: 1 1 auto;
    margin: 0;
}

.track-add-controls {
    display: flex;
}

.add-video-btn {
    margin: 0;
    background: rgb(235, 45, 22);
    border: none;
    color: white
}

.toolbar {
    padding: 14px;
    display: flex;
}

.track.selected {
    background: rgba(179, 198, 255, 0.56);
}

.controls {
    background: gold;
}

.user-badge {
    font-size: smaller;
    color: darkgray;
    margin-top: 4px;
}

.user-info {
    position: absolute;
    top: 10px;
    right: 10px;
}

.video-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
}

.user-name {
    font-weight: bold;
}

.player-button {
    border: none;
    width: 20px;
    height: 18px;
    font-size: 0;
    margin: 0 5px;
}

.player-button:active {
    transform: scale(0.8);
}

.btn-play {
    background: url("icons/play.svg") center center / contain no-repeat;
}

.btn-forward {
    background: url("icons/forward.svg") center center / contain no-repeat;
}

.btn-backward {
    background: url("icons/backward.svg") center center / contain no-repeat;
}

.btn-pause {
    background: url("icons/pause.svg") center center / contain no-repeat;
}